body{
    background-color:hotpink;
}


.div{
    background-color: hotpink;
}
header{
    background-image: url("./img/cs1.jpg");
    background-position: center center;
    background-size: cover;
    margin: auto;
    padding: 100px;
    text-align: center;
    color: white;
    font-size: 400%;
    height: 700px;
}
main{
    font-family: 'Oleo Script Swash Caps', cursive;
    background-color:whitesmoke;
}
footer{
    background-color:hotpink;
    font-size: 200%;
}


/**/
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: hotpink;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  
  .active {
    background-color: #04AA6D;
  }
  
  @media screen and (max-width: 300px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  /**/